@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Varela round", sans-serif;
  letter-spacing: -0.015em;
}
